.container-weekly-view {

    .header {
      display: flex;
      padding: 5px 0;
  
      .column-day {
        flex: 4;
      }
    
      .column-hour {
        flex: 1;
      }
    }

    .main {
      padding-top: 10px;
    }
}