<div class="day-view">
  <h2>{{selectedDay | date}}</h2>
  
  <div class="day-container">
    
    <div class="day-hour-view-container">
      <div class="day-hour-view" *ngFor="let hour of hours">
        <div class="hour">{{hour}}</div>
        <div class="day"></div>
      </div>
    </div>
    
    <div class="day-data-container">
      <div class="relative-container">
        <div class="data-point" 
          *ngFor="let item of data"
          [style.background-color]="item.bgcolor"
          [style.left]="(item.overlap.length * 5) + '%'"
          [style.width]="(100 / item.overlap.length) + '%'"
          [style.top]="startToPx(item.startDate) + 'px'"
          [style.height]="lenToPx(item) + 'px'"
          [style.z-index]="item.overlap.length + 1"
          [style.min-height]="'20px'"
          [attr.overlap]="item.overlap.length"
        >{{item.title}}</div>
      </div>
    </div>

  </div>

</div>