@import 'variables.scss';

.container-row {
  display: flex;
  height: 50px;

  .container-hour {
    flex: 1;
  }

  .container-weekday {
    flex: 4;
    border-top: $calendarCellBorder;
    border-right: $calendarCellBorder;
  }
}